*.bak
*.bat
*.png
*.sln
*.tgz
*.zip
/.env
/.idea
/.pnp.*
/.vs
/.yarn
/bin
/dist
/log
/node_modules
/obj/Debug
/package-lock.json
/swagger-docs
/tokens
/tokens/*
/uploads
/userData
/WhatsAppImages
/wppconnect-server.njsproj
/wppconnect-server.njsproj.user
/yarn-error.log
/yarn.lock